*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar { 
    display: none; 
}

/* Body Header */

#body-header{
    height: 65vh;
    background-image: url(assets/PhotoReal_4k_hd_wallpaper_with_islamic_first_kalma_0.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    background-attachment: fixed;
}

/* Horizontal List Navigation Bar */

.bars{
    color: white;
    margin: 0;
    margin-right: 5%;
    display: none;
}

.bars i {
    font-size: 2rem;
}

.dropdown-list{
    margin: 0;
    display: none;
    background-color:transparent;
    box-shadow: 0px 4px 8px 1px #535547;
}

.dropdown-list ul{
    margin: 0.2rem 0.2rem;
    text-align: left;
    padding: 0px 0.8rem;
}

.dropdown-menu:hover .dropdown-list{
    display: block;
    position: absolute;
    right: 3%;
}

.dropdown-list li{
    margin: 0.4rem 0px;
}

.no-list-style{
    list-style: none;
}

.no-list-style li {
    font-weight: 100;
    font-size: 1.3rem;
}

.no-list-style li a{
    list-style: none;
    color: white;
    text-decoration: none;
}


.horizontal-list{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 1.5rem;
}

.horizontal-list li a {
    color: white;
    text-decoration: none;
    
}
.nav-menu li a{
    transition: color 0.5s, border-bottom 0.4s;
}
.nav-menu li a:hover {
    color: lightgray;
    border-bottom: 2px solid black;
}

.text-center{
    text-align: center;
}



/* Name and Social Icons */

#name-social-container{
    margin-top: 20vh;
}
#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li a i {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 50%;
}
.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px rgba(163, 118, 4, 0.3);
}

section{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n)
{
    background-color:rgb(230, 229, 229);
}

section:nth-child(2n+1)
{
    background-color:white;
}

.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span{
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}


/* About Section */

#about{
    height: auto;
    width: 100%;
    position: relative;
}

#my-image{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 4px rgba(163, 118, 4, 0.8);
}

#about-para {
    padding: 10px;
    width: 70%;
    height: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-weight: 100;
    font-size: 1.1rem;
}

.text-highlight {
    color: #2857a4;
    font-weight: 600;

}


/* Skills Section*/

.skills-display{
    width: 70%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.skill-progress{
    width: 10rem;
    height: 1.8rem;
    background-color:lightgrey;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
}

.skill-progress > div{
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}

.skill-name span{
    font-size: 1.2rem;
    color:rgb(138, 134, 129);
    margin-left: 10px;
    vertical-align: middle;
    text-align:justify;
}

/* Common Margin Classes */

.mb75px{
    margin-bottom: 75px;
}
.m0{
    margin: 0;
}
.mb50px{
    margin-bottom: 50px;
}

/* Common Text Align Classes */

.text-right{
    text-align: right;
}

.text-center {
    text-align: center;
}
.text-justify{
    text-align: justify;
}

/* Common color classes */

.m-blue{
    color: #2857a4;
}
.mb-blue{
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}

/* Percentage Classes */

.eighty-five-percent{
    width:85% ;
    height: inherit;
}

.sixty-five-percent{
    background-color: aqua;
    width:65% ;
    height: inherit;
}
.seventy-percent{
    background-color:#9cc4b2;
    width:70% ;
    height: inherit;
}
.fourty-five-percent{
    background-color:#C98CA7;
    width:45% ;
    height: inherit;
}
.ninty-five-percent{
    background-color:#E76D83;
    width:95% ;
    height: inherit;
}
.ninty-percent{
    background-color:#68B0AB;
    width:90% ;
    height: inherit;
}
.sixty-percent{
    background-color:#054d1b;
    width:60% ;
    height: inherit;
}
.thirty-five-percent{
    background-color:#77A2A4;
    width:35% ;
    height: inherit;
}
.fifty-five-percent{
    background-color:#384E77;
    width:55% ;
    height: inherit;
}
.twenty-five-percent{
    background-color:#b3e420;
    width:25% ;
    height: inherit;
}
.thirty-percent{
    background-color:#384E77;
    width:30% ;
    height: inherit;
}
.fourty-percent{
    background-color:#18314f;
    width:40% ;
    height: inherit;
}

/* Work Experience section */

.timeline{
    position: relative;
    width: 75%;
    overflow-y:auto;
}
.timeline::-webkit-scrollbar
{
    display: none;
}

.timeline-box{
    padding: 5px;
    width: 40%;
    min-height: 150px;
    position: relative;
    left: 5%;
    text-align: right;
}

.timeline-box::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color:#2857a4;
    top: 25%;
    border-radius: 50%;
    z-index: 1;

}

.timeline-box:nth-child(2n){
    left:53%;
}

.timeline-box:nth-child(2n+1):after{
    right: -14.55%;
}

.timeline-box:nth-child(2n)::after{
    left: -8.5%;
}

.timeline-container{
    padding: 8px;
}

.timeline-logo{
    position: absolute;
    width: 50px;
    overflow: hidden;
}

.timeline-logo >img{
    width: 100%;
}

#timeline-divider{
    position: absolute;
    width: 0;
    top: 10%;
    left: 50%;
    border:2.5px dashed #0096fa6b ;
    height: 175%;
}

#timeline-divider .timeline-traveller {
    position: sticky;
    top: 75px;
    z-index: 2;
}

#timeline-divider i{
    transform: rotate(90deg);
    margin-top: -35%;
    display: block;
    color: #2857a4;
}

.experience-designation{
    font-size: 1.4rem;
}

.experience-company-name{
    margin: 5px 0 0;
    color: #eb822d;
    font-weight: 400;
    font-size: 1.2rem;
}

.experience-duration{
    color: #9e9b9b;
    font-weight: 100;
    color: grey;
    font-size: 1rem;
}

.experience-description{
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}


@media only screen and (max-width: 572px) {
    
    .nav-menu {
        display: none;
    }
    .bars {
        display:block;
    }

    .skill-progress{
        margin: 2%;
    }
    .skills-display{
        overflow-y:scroll;
    }
    .skills-display::-webkit-scrollbar{
        display: none;
    }
    
    .timeline-box {
        width: 100% !important;
        left: 10% !important;
    }
    #timeline-divider{
        height: 180% !important;
        left: 2% !important;
    }
    #contact-container {
        /* border: 3px solid red; */
        /* display: flex!important; */
        /* flex-direction: column !important; */
        flex-wrap: wrap !important;
        justify-content: center;
        height: 150%;
        width: 100%;
        /* left: 0 !important; */
        margin-top: 0!important;
        padding: 10px;
        box-sizing: border-box;
    }

    /* Set each container to take 100% width for stacking */
    #contact-form-container,
    #my-details-container {
        margin-top: 0 !important;
        /* border: 2px solid green; */
        /* width: 35% !important; */
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    #contact-form input, #contact-form textarea {
        width: 90%;
        margin: 5px 0;
        padding: 10px;
        font-size: 1em;
    }

    .sub-btn {
        width: 100%;
        padding: 10px;
        font-size: 1em;
    }

    /* Center align social icons */
    .social-icons ul.horizontal-list {
        /* border: 3px solid red; */
        display: flex;
        justify-content: center;
        padding: 0;
    }

    /* Adjust social icon sizes */
    .social-icons i {
        /* border: 2px solid blue; */
        font-size: 1.5em;
    }

    html{
        font-size: 15px!important;
        text-align: justify !important;
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: fixed; */
        bottom: 0;
    }
}


@media only screen and (max-width: 768px){

    .timeline-box {
        width: 80% !important;
        left: 10% !important;
    }
    #timeline-divider{
        left: 3%;
        height: 185%!important;
    }
    .timeline-box::after{
        left:-12% !important;
    }
    
    #contact-form {
        margin-left: 0%;
    }

    #contact-container {
        flex-wrap: wrap;
    }

    #my-details-container {
        width: 80%;
        margin: 10%;
    }

    #contact-form-container {
        width: 80%;
        margin: 10%;
    }
    html{
        font-size: 20px!important;
    }
}

/* Portfolio section */

#projects{
    height: 100%;
    width: 100%;
}

.project_container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(320px, 1fr)); 
    gap: 2rem;
}

.grid_item {
    display: grid;
    place-items: center ;
}

.card {
    width: 100% ;
    display: flex;
    flex-direction:column;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

.card:hover{
    transform: scale(1.05);
    transition: 1s ease-in-out;
}

.card:hover img{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    opacity: 0.8 ;
}

.card_content{
    padding:2rem ;
    position: relative;
    top: -6rem;
    margin-bottom: -6.5rem;
    transition: 0.5s ease-in-out;
    transform: translateY(100px);
}

.card:hover .card_content{
    background:#e6e5e5;
    color:#384E77;
    transform: translateY(0px) ;
}

.card_content h3{
    text-align: center;
}

/* Contact Section */

#contact {
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 40px;
    height: auto;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {

    width: 60%;
    margin-left: 6%;
    padding: 10px;

    /* margin-left: 20%; */
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 60%;
    margin-left: 6%;
    padding: 10px;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
    order: 1;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    padding: 10px 0;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    padding: 14px;
    margin-top: 5%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
